/* Main background Color */
body {
    background-image: linear-gradient(rgb(255, 255, 63), rgb(0, 255, 0), rgb(220, 156, 44));
    padding: 0;
    margin: 0;
}

/* Main Box content formatting */
.box {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.login {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.big-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.little-title {
    text-align: center;
    font-size: 30px;
}

/* Formatting for index navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(150, 200, 250);
}

li {
    float:left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li:not(#header) a:hover {
    background-color:beige;
}

.active {
    background-color: white;
}

#header {
    text-align:left;
    position:relative;
}
.back-button {
    position:absolute;
    top: 14px;
    left: 16px;
}


#classTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

#classTable td, #classTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#classTable td.blank, #classTable th.blank {
    border: 1px solid #ffffff;
    padding: 25px;
}

#classTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #048eaa;
    color: white;
}






#postTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

#postTable td, #postTable th {
    border: 1px solid #ddd;
    padding: 8px;
}


#postTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #048eaa;
    color: white;
}

.user_bar {
    font-family: sans-serif;

    font-size: 1rem;
    background-color: rgba(255, 255, 255, .6);

    text-align:center;
}

.user_bar form {
    display: inline;

    padding: 0;
    margin: 0;
}

.user_bar button {
    background: none;
    padding: 0;
    border: none;

    color: #069;
    cursor: pointer;

    font-size: 16px;
    text-align: left;
    vertical-align: baseline;

    align-items: normal;
    box-sizing: content-box;
    height: auto;
    perspective-origin: 0 0;
    text-align: start;
    transform-origin: 0 0;
    width: auto;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

.user_bar button:hover, .user_bar a:hover {
    text-decoration: underline;
}

.user_bar a {
    padding: .25rem .5rem;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    
    color: #069;
}

.register_box {
    margin: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
}

form.user_info_form {
    display: block;
    width: 20rem;
    margin: auto;

    text-align: left;

    font-size: 1rem;    
    font-family: sans-serif;
}

.user_info_form label {
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
}

.user_info_form input {
    width: 100%;
    padding: .5rem;

    font-size: 1rem; 
    font-family: sans-serif;
}

.user_info_form button {
    padding: .5rem;
    font-size: 1rem;
    font-family: sans-serif;
}

.footer {
    font-family: sans-serif;

    font-size: 1rem;
    background-color: rgba(255, 255, 255, .6);
    padding: .25rem .5rem;
    margin-top: 5rem;

    text-align: center;
}

.new_post {
    margin: 1rem;
    padding: 1rem;
    width: auto;
}

.new_post label {
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
}

.new_post input {
    width: 100%;
    padding: .5rem;

    font-size: 1rem; 
    font-family: sans-serif;
}

.new_post textarea {
    width: 100%;
    padding: .5rem;

    font-size: 1rem; 
    font-family: sans-serif;
}

.new_post textarea::placeholder {
    
}

.new_post button {
    padding: .5rem;
    font-size: 1rem;
    font-family: sans-serif;
}