<div class="comment">
    <a href="/users/{{commentInfo.commentor}}" class="comment_author">
        {{commentInfo.commentor}}
    </a>
    <div class="comment_body">
        {{commentInfo.body}}
    </div>
    <div class="comment_footer">
        <div class="comment_rating">
            <div class="comment_upvote">
                <button>Like</button>
                +{{commentInfo.likes}}
            </div>
            <div class="comment_downvote">
                -{{commentInfo.dislikes}}
                <button>Dislike</button>
            </div>
        </div>
        <div class="filler"></div>
        <button class="follow_button" onclick="follow_author(this);" data-author="{{commentInfo.commentor}}" data-following="{{commentInfo.following}}">
            {% if commentInfo.following %}
                Following
            {% else %} 
                Follow
            {% endif %}
        </button>
        <!-- TODO: dynamically change these buttons based on current status -->
    </div>
</div>