<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <title>Savanna Home</title>
</head>

<body>
    {% include 'header.html' %}
    <h1 class="big-title">Savanna Home</h1>

    <script src="{{ url_for('static',filename='script.js') }}"></script>

    <div class="box">
        <ul>
            <li id="head1" style="width:50%"><a id="header1" onclick="getFollowedPosts()">Followed Posts</a></li>
            <li id="head2" style="width:50%"><a id="header2" onclick="getAllPosts()" class="active">All Posts</a></li>
        </ul>
        <div id="posts-container">
        
        </div>
        <div class="all_posts">
            {% for postInfo in posts %}
                {% include 'post.html' %}
            {% endfor %} 
        </div>
        
        <div id="comments-container"></div>
        <div id="test"></div>
    </div>

    <script>
        getAllPosts()
    </script>

</body>

</html>
</html>
