<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <title>Gradebook</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1950/1950715.png">
</head>

<body>
    {% include 'header.html' %}
    <table style="width:100%; height:100px">
        <tr>
            <td style="text-align:center; width:25%">
                
            </td>
            <td style="text-align:center; width:50%"><h1 class="big-title">University of California, Massachusetts</h1></td>
            <td style="text-align:center; width:25%">
                
            </td>
            
        </tr>
    </table>

    <script src="{{ url_for('static',filename='script.js') }}"></script>

    <div class="box">
        <ul>
            <li style="width:50%"><a id="enrolledHeader" onclick="getStudentClasses()" class="active">Enrolled Courses</a></li>
            <li style="width:50%"><a id="addHeader" onclick="allClasses()">Add Courses</a></li>
        </ul>
        <div id="posts-container"></div>
    </div>

    {% include 'footer.html' %}

    <script>
        // Fetch posts data from API endpoint
        fetch('/allposts', {
            method: "GET",
        })
            .then(response => response.json())
            .then(posts => {
                // Create HTML elements for each post
                let container = document.getElementById("posts-container");
                container.innerHTML = posts.length + " posts found."
                posts.forEach(post => {
                    const postElement = document.createElement('div');
                    postElement.innerHTML = `
                        <h2>${post.title}</h2>
                        <p>${post.body}</p>
                        <p>Likes: ${post.likes} / Dislikes: ${post.dislikes} / Comments: ${post.comments}</p>
                    `;
                    container.appendChild(postElement);
                });
            });
    </script>

   
</body>

</html>
</html>
