<div class="post">
    <a href="/page/{{postInfo.id}}" class="post_title">
        {{postInfo.title}}
    </a>
    
    <div class="post_body">
        {{postInfo.body}}
    </div> 
    <div class="post_footer">
        <div class="post_rating">
            <div class="post_upvote"><button>Like</button><div class="likes">+{{postInfo.likes}}</div></div>
            <div class="post_downvote"><div class="dislikes">-{{postInfo.dislikes}}</div><button>Dislike</button></div>
        </div>
        <a href="/page/{{postInfo.id}}" class="post_comments"><div class="comments">View {{postInfo.comments}} comments</div></a>
        <a href="/users/{{postInfo.poster}}" class="post_author"><div class="author">by: {{postInfo.poster}}</div></a>
        <button class="post_follow">Follow Poster</button>
        <!-- TODO: dynamically change these buttons based on current status -->
    </div>
</div>