<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <title>Savanna Register</title>
</head>

<body>
    {% include 'header.html' %}
    <h1 class="big-title">Savanna</h1>

    <script src="{{ url_for('static',filename='script.js') }}"></script>
    
    <h1 style="text-align: center;">Register an account</h1>
    <div class="register_box">
        <form action="/register" method="POST" class="user_info_form">
            <!-- TODO: Show that the username is taken BEFORE submission -->
            <label for="name">Name
                <input type="text" placeholder="Enter name" name="name" id="name" required>
            </label>
            <label for="username">Username<br>
                <input type="text" placeholder="Enter username" name="username" id="username" required="">
            </label>
            <label for="password">Password<br>
                <input type="password" placeholder="Enter password" name="password" id="password" required="">
            </label>
            <!-- TODO: Tell the user that the passwords are different or the same BEFORE submission -->
            <label for="confirm">Confirm password<br>
                <input type="password" placeholder="Confirm password" name="confirm" id="confirm" required="">
            </label>
            <button type="submit">Register</button>
        </form>
    </div>

    <script>

    </script>
</body>

</html>
</html>
